{% extends 'base.html' %}

{% block title %}Рецепты для редактирования{% endblock %}

{% block content %}
    <h2>Выберите рецепт для редактирования</h2>
    {% if recipes %}
        <ul class="recipe-list">
            {% for recipe in recipes %}
                <li class="recipe-item">
                    <a href="{% url 'edit_recipe' recipe.id %}" class="recipe-link">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-recipes">У вас пока нет рецептов для редактирования.</p>
    {% endif %}
{% endblock %}
